body {
    background-color: #2a2a2a;
    font-size: 1rem;
    color: #ffffff;
    min-width: 890px;
}
.navbar {
    background-color: #1f1f1f;
}
.content-container {
    max-width: 600px;
    margin: auto;
    padding: 1px;
    background-color: #333;
    border-radius: 10px;
    margin-top: 2rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.offcanvas {
    background-color: #444;
    color: #ffffff;
}