{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% load get_file_name %}

{% block title %}Накладная №{{ invoice.id }}{% endblock %}

{% block style %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'invoices/css/invoices.css' %}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<link rel="stylesheet" href="{% static 'invoices/css/detail_invoice.css' %}"  />
<style>
.document-tile {
    position: relative;
}

.hidden-button {
    display: none; /* Скрыть кнопки по умолчанию */
}

.document-tile:hover .hidden-button {
    display: inline-block; /* Показать кнопки при наведении */
}

.button-container {
    position: absolute;
    top: 10px; /* Позиция кнопок */
    right: 10px; /* Позиция кнопок */
}
.document-tile {
    position: relative;
}

.hidden-button {
    display: none; /* Скрыть кнопки по умолчанию */
}

.document-tile:hover .hidden-button {
    display: inline-block; /* Показать кнопки при наведении */
}

.button-container {
    position: absolute;
    top: 10px; /* Позиция кнопок */
    right: 10px; /* Позиция кнопок */
}

.document-name {
    white-space: nowrap; /* Запретить перенос строк */
    overflow: hidden; /* Скрыть переполнение */
    text-overflow: ellipsis; /* Добавить многоточие */
    width: 100%; /* Занять всю ширину родительского блока */
}
</style>

{% endblock %}

{% block page_name %}
<div class="w-100 d-flex justify-content-center">
    <a class="navbar-brand mx-auto" href="#">Накладная №{{ invoice.id }}</a>
</div>
{% endblock %}

{% block content %}
<div class="content-container">
    <div class="invoice-detail">
        <div class="invoice-header">
            <h3>Детали накладной</h3>
            <div class="actions my-3">
                <a href="{% url 'invoices:invoices' %}" class="btn btn-secondary">
                    <i class="bi bi-arrow-left"></i> Вернуться к списку
                </a>
                <a href="{% url 'invoices:update_invoice' invoice.pk %}" class="btn btn-warning">
                     <i class="bi bi-pencil"></i> Изменить 
                </a>
                <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    <i class="bi bi-trash"></i> Удалить
                </a>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-7">
                <div class="info-container">
                    <p><strong>От</strong> {{ invoice.created }}</p>
                    <p><strong>Срок оплаты:</strong> {{ invoice.deadline }}</p>
                    <p><strong>Поставщик:</strong> <a class="custom-link" href="{% url 'products:suppliers' %}">{{ invoice.supplier.name }}</a></p>    
                </div>
            </div>
            <div class="col-5"> 
                <div class="progress-container">
                    {% include 'invoices/includes/invoice_progress_bar.html' %}
                </div>
            </div>
        </div>
        <div class="border-top my-4"></div>
        <div>
        {% include 'invoices/accordions/invoice_payment.html' %}
        </div>
        <div class="border-top my-4"></div>
        {% include 'invoices/accordions/document.html' %}
    </div>
</div>

{% include 'invoices/includes/modal_upload_by_invoice_document.html' %}
{% include 'invoices/includes/modal_delete_invoice.html' %}
{% endblock %}

{% block scripts %}
{% include 'invoices/includes/form_scripts.html' %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gyb0K5uD1WqUj8A6z1j9q1j1F3d9Hk5Wc7g3i4t5q+2Hc2t5" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-4T9R8k3I0x5K6k6I6G7nH5C5p5L5g5z5L5g5L5g5L5g5L5g5L5g5L5g5L5g5" crossorigin="anonymous"></script>
{% endblock %}
