{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}


{% block title %}Накладные{% endblock %}

{% block style %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'invoices/css/invoices.css' %}" />
{% endblock %}

{% block page_name %}
<div class="w-100 d-flex justify-content-center">
    <a class="navbar-brand mx-auto" href="#">Накладные</a>
</div>
{% endblock %}

{% block content %}
<div class="content-container">
    <form class="search-form">
        <div class="row">
            {% csrf_token %}
            <div class="col-md-4">
                <div class="mb-3">
                    {{ filter.form.id|as_crispy_field }}
                </div>
                <div class="mb-3">
                    {{ filter.form.supplier|as_crispy_field }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    {{ filter.form.amount_to_pay|as_crispy_field }}
                </div>
                <div class="mb-3">
                    {{ filter.form.is_fully_paid|as_crispy_field }}
                </div>
            </div>
            <div class="col-md-4">
                {{ filter.form.deadline_after|as_crispy_field }}
                {{ filter.form.deadline_before|as_crispy_field }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-search"></i>
            Поиск
        </button>
    </form>
    <div class="d-flex justify-content-between mb-1">
        <a href="{% url 'invoices:create_invoice' %}" class="btn btn-primary ms-auto">
            <i class="bi bi-plus"></i>
            Добавить накладную
        </a>
    </div>

    <div>
            {% for invoice in invoices %}
            <div class="invoice-card">
                <div class="payment-status">
                    <i class="bi bi-wallet"></i>
                    {{ invoice.total_amount|floatformat:2 }}/{{ invoice.amount_to_pay }} ₽
                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="Оплата накладной считается по сумме приложеных платежек к ней">
                        <i class="bi bi-question-circle small-icon" style="cursor: pointer; font-size: 1.1rem;"></i>
                    </span>
                </div>
                <h5>
                    <i class="bi bi-file-earmark"></i>
                    Накладная №{{ invoice.id }}
                </h5>
                <p>Сумма: {{ invoice.amount_to_pay }} ₽</p>
                <p>Дата добавления: {{ invoice.created }}</p>
                <p>Срок оплаты: {{ invoice.deadline }}</p>
                <p>Поставщик:<a class="custom-link" href="{% url 'products:suppliers' %}"> {{ invoice.supplier.name }}</a></p>
                <a href="{% url 'invoices:detail_invoice' invoice.pk %}" class="btn btn-outline-light">
                    <i class="bi bi-eye"></i>
                    Подробнее
                </a>
                {% if invoice.is_fully_paid %}
                    <div class="paid">{% translate "Paid" %}</div>
                {% else %}
                    <div class="unpaid">{% translate "Not paid" %}</div>
                {% endif %}
            </div>
            {% endfor %}
    </div>
    {% include 'examples/includes/paginator.html' %}
</div>
{% endblock %}
{% block scripts %}
    {% include 'examples/includes/form_scripts.html' %}
{% endblock %}
