{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}


{% block title %}Поставщики{% endblock %}

{% block style %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'products/css/suppliers.css' %}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
{% endblock %}

{% block page_name %}
<div class="w-100 d-flex justify-content-center">
    <a class="navbar-brand mx-auto" href="#">Поставщики</a>
</div>
{% endblock %}

{% block content %}
<div class="content-container">
    <div class="d-flex justify-content-between mb-3">
        <a href="{% url 'products:create_supplier' %}" class="btn btn-primary ms-auto">
            <i class="bi bi-plus"></i>
            Добавить поставщика
        </a>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% for supplier in suppliers %}
            <div class="invoice-card">
                <div>
                    <i class="bi bi-people"></i>
                    <span class="ms-2"> {{supplier.name}} &nbsp; </span>
                    {% if supplier.inn %}
                    <strong>ИНН:</strong> {{supplier.inn}}  &nbsp; 
                    {% endif %}
                    {% if supplier.bik %}
                    <strong>БИК:</strong> {{supplier.bik}}  &nbsp; 
                    {% endif %}
                    {% if supplier.phone_number %}
                    <strong>Телефон:</strong> {{supplier.phone_number}} 
                    {% endif %}
                </div>
                <a href="{% url 'products:update_supplier' supplier.pk %}" class="btn btn-outline-primary edit-button">
                    <i class="bi bi-pencil"></i> Редактировать
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    {% include 'examples/includes/form_scripts.html' %}
{% endblock %}
