{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Обновление накладной{% endblock %}

{% block style %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'invoices/css/create_invoice.css' %}" />
{% endblock %}

{% block page_name %}
<div class="w-100 d-flex justify-content-center">
    <a class="navbar-brand mx-auto" href="#">Обновление накладной</a>
</div>
{% endblock %}

{% block content %}
    <div class="content-container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.amount_to_pay|as_crispy_field }}
            {{ form.supplier|as_crispy_field }}
            <div class="mb-4">
                <span>Если здесь нет нужного поставщика, вы можете его</span>
                <a class="custom-link" href="{% url 'products:create_supplier' %}"><span>добавить</span></a>
            </div>
            {{ form.deadline|as_crispy_field }}
            <button class="btn btn-primary" type="submit">обновить накладную</button>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    {% include 'invoices/includes/form_scripts.html' %}
{% endblock %}