body {
    background-color: #2a2a2a;
    font-size: 1rem;
    color: #ffffff;
}
.navbar {
    background-color: #1f1f1f;
}
.content-container {
    max-width: 60%;
    margin: auto;
    padding: 0.5rem;
    background-color: #333;
    border-radius: 10px;
    margin-top: 1rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.offcanvas {
    background-color: #444;
    color: #ffffff;
}
.invoice-card {
    background-color: #444;
    border: 1px solid #555;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
    color: #fff;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}
.payment-status {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.9rem;
}
.paid, .unpaid {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #28a745;
    color: #fff;
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    font-size: 0.8rem;
}
.unpaid {
    background-color: #dc3545;
}
.overdue {
    position: absolute;
    bottom: 30px;
    right: 10px;
    background-color: #ff9800;
    color: #fff;
    padding: 0.3rem 0.6rem;
    border-radius: 0.2rem;
    font-size: 0.8rem;
    transform: translateY(-50%);
}
.search-form {
    background-color: #444;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}
.select2-results {
    color: black;
}
#div_id_supplier {
display: block;
}

#div_id_supplier label,
#div_id_supplier .select2 {
    display: block;
    width: 100%;
}
.custom-link {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}
.small-icon {
    font-size: 0.2rem;
}